<html>
<head>
    <title>Welcome to Pictogin</title>
</head>
<body>
<h1>Welcome {{ email }} to Pictogin</h1>
<p>Explain give a link to go and login, if not working, will receive a mail, etc.</p>
</body>
</html>