{% extends "authentication.twig" %}

{% set action = '/login' %}
{% set title = 'Log In' %}
{% set imageMessage %}
    <div class="ui">Please click on all the images that correspond to yours. Step {{ step }} / {{ maxSteps }}</div>
{% endset %}

{% block process_buttons %}
    <div class="field">
        <div class="ui fluid large green button" onclick="nextClick();">Next</div>
    </div>
    {{ parent() }}
    <div class="field center">
        <div class="ui medium button white underline" onclick="forgotPassword();">Forgot password</div>
    </div>
{% endblock process_buttons %}

{% block modal %}
    <div id="forgotpwd" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Forgot Password
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="/res/icon/forgot-password.png">
            </div>
            <div class="description">
                <div class="ui header">Receive a magic link?</div>
                <p>We will send you an E-Mail that will contain a link that will let you log-in and re-create a new pictogin.</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                No
            </div>
            <div class="ui positive right labeled icon button">
                Yes
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_bot %}
    {{ parent() }}
    <script src="/js/login.js"></script>
{% endblock %}