{% extends "default.twig" %}

{% block content %}
    <h1 class="ui center aligned header">
        Thank you for registering!
    </h1>

    <div>We just sent you an e-mail at 'your@email.com' to validate your e-mail.</div>

    <div>Show 3 images and say that we send a mail with a verification link.</div>

    <div>Should tell that if loose password, we might have to reset using a forgot password.</div>

    <div>Add a button -> go to home!</div>
{% endblock %}
