{% extends "default.twig" %}

{% block content %}
    <h1 class="ui center aligned header">
        Thank you for registering!
    </h1>

    <div>We just sent you an e-mail at '{{ email }}' for validation.</div>

    <div>Show X chosen images</div>

    <div>Should tell that if loose password, you can always reset using a forgot password.</div>

    <div>Add a button -> go to home!</div>
{% endblock %}
